/node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.prettierignore
.prettierrc
eslint.config.js
package-lock.json
playwright.config.js
svelte.config.js
vite.config.js