/node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.prettierignore
client/.prettierrc
client/eslint.config.js
client/package-lock.json
client/playwright.config.js
client/svelte.config.js
client/vite.config.js